In [14]:
import requests
import datetime
import time
import json
import pandas as pd
import numpy as np

# WAVES

In [15]:
with open('wave.json', "r") as f:
    wave_dictionary=json.load(f)

In [16]:
#this converts unix time to standard time for ease of reading
def timemaker(dictionary):
    return(time.strftime("%a, %d %b %Y %H:%M:%S +0000",time.localtime(dictionary["timestamp"])))

#wavemaker takes in the dictionary and converts into dataframe with relevant info for each timestamp
def wavemaker(dictionary):
    wave=pd.DataFrame.from_dict(dictionary['swells'],orient='columns').drop(columns=["optimalScore","directionMin"])
    return wave

#the dictionary is at the timestamp level. Same dictionary works on both functions

wave_labels=np.array(['height1', 'height2', 'height3', 'height4', 'height5', 'height6',
        'period1', 'period2', 'period3', 'period4', 'period5', 'period6',
        'direction1', 'direction2', 'direction3', 'direction4', 'direction5',
        'direction6'])
wave_labels_with_time=np.array(['timestamp','height1', 'height2', 'height3', 'height4', 'height5', 'height6',
        'period1', 'period2', 'period3', 'period4', 'period5', 'period6',
        'direction1', 'direction2', 'direction3', 'direction4', 'direction5',
        'direction6'])
#wave_table = pd.DataFrame(columns = wave_labels)
#row = pd.DataFrame(columns = wave_labels)

In [17]:
time_0 = wave_dictionary['data']['wave'][0]
wave_table = wavemaker(time_0).melt().transpose().drop('variable')
wave_table.columns = wave_labels
wave_table['timestamp'] = time_0['timestamp']
wave_table = wave_table[['timestamp','height1', 'height2', 'height3', 'height4', 'height5', 'height6',
        'period1', 'period2', 'period3', 'period4', 'period5', 'period6',
        'direction1', 'direction2', 'direction3', 'direction4', 'direction5',
        'direction6']]
wave_table

,timestamp,height1,height2,height3,height4,height5,height6,period1,period2,period3,period4,period5,period6,direction1,direction2,direction3,direction4,direction5,direction6
value,1665817200,2.20663,1.94498,1.8274,1.46214,0.72001,0.0,11.0,6.0,16.0,12.0,19.0,0.0,315.71338,295.86499,219.60327,186.09692,191.28687,0.0

In [18]:
wavemaker(time_0).melt().transpose().drop('variable')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
value,2.20663,1.94498,1.8274,1.46214,0.72001,0.0,11.0,6.0,16.0,12.0,19.0,0.0,315.71338,295.86499,219.60327,186.09692,191.28687,0.0

In [19]:

for i in range(1,len(wave_dictionary['data']['wave'])):    
    time = wave_dictionary['data']['wave'][1]
    row = wavemaker(time).melt().transpose().drop('variable')
    row.columns = wave_labels
    row['timestamp'] = time['timestamp']
    row = row[['timestamp','height1', 'height2', 'height3', 'height4', 'height5', 'height6',
        'period1', 'period2', 'period3', 'period4', 'period5', 'period6',
        'direction1', 'direction2', 'direction3', 'direction4', 'direction5',
        'direction6']]
    wave_table = pd.concat([wave_table,row], join = 'inner')

In [20]:
wave_table = wave_table.reset_index()
wave_table = wave_table.drop(columns = ['index'])

In [21]:
wave_table

,timestamp,height1,height2,height3,height4,height5,height6,period1,period2,period3,period4,period5,period6,direction1,direction2,direction3,direction4,direction5,direction6
0,1665817200,2.20663,1.94498,1.8274,1.46214,0.72001,0.0,11.0,6.0,16.0,12.0,19.0,0.0,315.71338,295.86499,219.60327,186.09692,191.28687,0.0
1,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0
2,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0
3,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0
4,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0
404,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0
405,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0
406,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0
407,1665820800,2.16923,1.87805,1.79446,1.45085,0.75226,0.0,11.0,5.0,16.0,12.0,18.0,0.0,316.16486,294.79181,219.8678,186.08569,191.35907,0.0

# WIND

In [22]:
with open('wind.json',"r") as w:
    wind_dictionary=json.load(w)
def windmaker(dictionary):
    wind=pd.DataFrame.from_dict(dictionary,orient='columns').drop(columns=['utcOffset','optimalScore'])
    return wind
wind_dict=wind_dictionary['data']['wind']
wind_values=windmaker(wind_dict)

In [23]:
wind_values

      timestamp    speed  direction directionType     gust
0    1665817200  2.77132  199.74937       Onshore  2.77132
1    1665820800  2.79966  188.49635       Onshore  2.79966
2    1665824400  1.96863  171.23939       Onshore  2.13823
3    1665828000  1.14990  147.57130       Onshore  1.36069
4    1665831600  0.98572  119.45582       Onshore  0.98572
..          ...      ...        ...           ...      ...
403  1667268000  1.11662  120.50166       Onshore  1.57258
404  1667271600  1.11662  120.50166       Onshore  1.57258
405  1667275200  1.11662  120.50166       Onshore  1.57258
406  1667278800  1.11662  120.50166       Onshore  1.57258
407  1667282400  1.11662  120.50166       Onshore  1.57258

[408 rows x 5 columns]

# TIDE